@import 'https://fonts.googleapis.com/css2?family=Hind:wght@300;400&family=Mea+Culpa&family=Tangerine&display=swap';
/* x| */
:root{
--c_1t: #ffffff;
--c_1: #FF0000;
--c_1cc: rgba(255, 0,0, 0.80);
--c_1dd: rgba(255, 0,0,0.8);
--c_1_2: rgba(255, 0,0,0.5);
--c_1_3: rgba(255, 0,0,0.3);
--c_alpha4: rgba(0, 0, 0, 0.9);
--c_alpha5: rgba(0, 0, 0, 0.8);
--c_alpha6: rgba(0, 0, 0, 0.6);
--c_2: #ffffff;
--c_3: #FFF;
--c_fecha: var(--c_1);
--c_bloques: var(--c_1);
--c_bloques2: var(--c_2);
--c_ConfirmarB:  rgba(255, 0,0,0.87);
--c_ConfirmarT: #ffffff;
--c_ConfirmarH: rgba(255, 0,0,0.80);
--c_RechazarB: rgba(144, 144, 144, 0.87);
--c_RechazarT: #ffffff;
--c_RechazarH: rgba(144, 144, 144, 0.80);
--c_ConfirmarFormB: #ffffff;
--c_ConfirmarFormT: #000000;
--c_sliderB:  rgba(255, 255, 255, 0.60);
--c_sliderT1: var(--c_2);
--c_sliderT2: var(--c_2);
--c_sliderBorder: #var(--c_1);
--f_FF1: 'Tangerine', serif;
--f_FFEspecial: 'Mea Culpa', cursive;
--f_FFRegular: 'Hind', sans-serif;
--f_F0: 400 normal 6rem var(--f_FF1);
--f_F1: 400 normal 6rem var(--f_FF1);
--f_F2: 300 normal 5.5rem var(--f_FF1);
--f_FEspecial: 400 normal 10rem var(--f_FFEspecial);
--f_FEspecialPeque: 400 normal 3rem var(--f_FFEspecial);
--f_FRegular: 400 normal 2.4rem var(--f_FFRegular);
--f_FRegularMedia: 400 normal 3rem var(--f_FFRegular);
--f_FTimerNumero: 300 normal 4rem var(--f_FFRegular);
--f_FTimerTexto: 400 normal 1.8rem var(--f_FFRegular);
--line-height: 5rem;
--border-radius: 1.2rem;
--letter-spacing: 0.3rem;
--anchoFondo: 40vw;
--anchoPrincipal: 38vw;
--anchoContenedorInterior: 80%;
--altoHeader: 13vw;
--font1Size: 6vw;
--font1Top: 7vw;
--fontAmpTop: 16.4vw;
--font1aTop: 20vw;
--font1LH: 6vw;
--font2Size: 1.4vw;
--font2Top: 14vw;
--font2LH: 3.00vw;
--imagenFondoPrincipal: url(../img/FondoSave_2.svg);
--imagenSeparador: url(../../../../../../../recursos//rev/Skull/91932_skullF1.webp);
--imagenFondoTenue: url(../../../../../../../recursos/rev/Skull/45700_skullTenue.webp);
--marginTopContenedor: 3vw;
/* --marginBottomBadgesSave: 10vw; */
--marginBottomBadges: 2vw;
--marginBottomMain: 10vw}html{background:var(--imagenFondoPrincipal) no-repeat center center!important;
background-attachment:fixed!important;
/* background-size:contain!important; */
background-size:cover !important;
background-color:#000!important;
background-position:center;
font-size:7px}.contenedorScrollI{display:block!important}.contenedorScrollI1{display:none!important}.contenedorScroll{}.calendarioBadges{margin-bottom:var(--marginBottomBadges)!important}.contenedorSave .calendarioBadges{margin-bottom:var(--marginBottomBadgesSave)!important}.headerDinamico_C{width:var(--anchoFondo)!important;
height:var(--altoHeader)!important}.headerDinamico_Ti{font-size:var(--font1Size);
top:var(--font1Top);
line-height:var(--font1LH);
color:var(--c_1t);
margin-top:5px;
}.fecha_Fe{}.headerDinamico_Ta{font-size:var(--font1Size);
top:var(--font1aTop);
line-height:var(--font1LH);
color:var(--c_1t)}.headerDinamico_Tb{font-size:calc(var(--font1Size)*.6);
top:var(--fontAmpTop);
line-height:calc(var(--font1LH)*.6);
color:var(--c_1t)}.headerDinamico_Te{font-size:var(--font2Size);
top:var(--font2Top);
line-height:var(--font2LH)}.separadorImagenSola img{content:var(--imagenSeparador);
width:100%!important}.fondoTenue{background:var(--imagenFondoTenue) no-repeat center center;
background-size:contain}.mb_main{margin-bottom:var(--marginBottomMain)!important}@media only screen and (max-width:2000px){html{font-size:7.5px}:root{--anchoFondo: 60vw;
--altoHeader: 19.50vw;
--font1Size: 9.00vw;
--font1Top: 10.50vw;
--fontAmpTop: 24.60vw;
--font1aTop: 30.00vw;
--font1LH: 9.00vw;
--font2Size: 2.10vw;
--font2Top: 21.00vw;
--font2LH: 4.50vw;
--anchoPrincipal: 56.9vw;
--anchoContenedorInterior: 90%}}@media only screen and (max-width:1600px){html{font-size:7px}:root{--anchoFondo: 70vw;
/* --altoHeader: 22.75vw; */
--font1Size: 10.50vw;
--font1Top: 12.25vw;
--fontAmpTop: 28.70vw;
--font1aTop: 35.00vw;
--font1LH: 10.50vw;
--font2Size: 2.45vw;
--font2Top: 24.50vw;
--font2LH: 5.25vw;
--anchoPrincipal: 66.4vw;
--anchoContenedorInterior: 90%}}@media only screen and (max-width:1300px){html{font-size:6.5px}:root{--anchoFondo: 80vw;
/* --altoHeader: 26.00vw; */
--font1Size: 12.00vw;
--font1Top: 14.00vw;
--fontAmpTop: 32.80vw;
--font1aTop: 40.00vw;
--font1LH: 12.00vw;
--font2Size: 2.80vw;
--font2Top: 28.00vw;
--font2LH: 6.00vw;
--anchoPrincipal: 76vw;
--anchoContenedorInterior: 90%}}@media only screen and (max-width:600px){html{font-size:5px}:root{--anchoFondo: 95vw;
--altoHeader: 30.88vw;
--font1Size: 14.25vw;
--font1Top: 16.63vw;
--fontAmpTop: 38.95vw;
--font1aTop: 47.50vw;
--font1LH: 14.25vw;
--font2Size: 3.33vw;
--font2Top: 33.25vw;
--font2LH: 7.13vw;
--anchoPrincipal: 90vw;
--anchoContenedorInterior: 90%;
--marginTopContenedor: 2.5vw;
--imagenSeparador: url(../../../../../../../recursos/rev/Skull/52782_skullF2.webp);
/* --marginBottomBadgesSave: 35vw; */
--marginBottomMain: 15vw}}